# Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.so
*.pyd
*.dll

# Virtual environments
env/
venv/
.venv/
.conda/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs
*.log